.navbar {
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 1rem;
    justify-content: space-between;
}

.navbar__left {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 20rem;
    height: 20rem;
}
.navbar__left img {
    height: 15%;
    width: auto;
}

.navbar__left h2 {
    padding-top: 0.7rem;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding-top: 0.7rem;
    width: 20rem;
    height: 20rem;
    font-weight: 200;
    cursor: pointer;
}

.navbar__right button {
    width: 5rem;
    height: 5rem;
}