.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    color: white;
}

.navbar__brand img {
    width: 190px;
    height: auto;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

