@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;

    --color-01: #00383d;

    --transition: all 400ms ease;

    /*  Media queries sizes: */
    --container-width-lg: 100%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
