.bubbles {
        height: 100px;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  padding: 5px;
  display: flex;
  justify-content: space-between;

  align-items: center;

}

.bubbles__intructions {
        display: flex;
        justify-content: center;
        color: var(--color-04);
        font-family: var(--font-family);
        
}