.home {
        position: relative;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        /* e1f5f4, c2dfff, d4ffc2 */
        background-color: hsla(177, 50%, 92%, 1);
        background-image:
                radial-gradient(at 40% 20%, hsla(177, 51%, 91%, 1) 0px, transparent 50%),
                radial-gradient(at 80% 0%, hsla(211, 100%, 88%, 1) 0px, transparent 50%),
                radial-gradient(at 0% 50%, hsla(102, 100%, 88%, 1) 0px, transparent 50%);
}

.home__content {
        display: flex;
        flex-direction: row;
}

.home__content-rigth {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 5rem;
}

.home__content-rigth h1 {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 62px;
        line-height: 75px;
        letter-spacing: -0.04em;
}

.home__content-rigth p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: var(--color-04);

        margin-top: 1.5rem;
}