.draft {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color:hsla(240,58%,4%,1);
background-image:
radial-gradient(at 0% 50%, hsla(266,79%,87%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(143,21%,67%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(143,21%,67%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(266,79%,87%,1) 0px, transparent 50%);
}