
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;400;500&display=swap');


:root {
    font-family: 'Barlow Semi Condensed', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #9945ff 1.84%, #14f195 102.67%);

    --color-01: #e1f5f4;
    --color-02: #c2dfff;
    --color-03: #d4ffc2;
    --color-04: #2c8cb5;
    --color-05: #AE67FA;

    --color-silver: #e5e5e5;

    --transition: all 400ms ease;

    /*  Media queries sizes: */
    --container-width-lg: 100%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

/* MORALIS */

/* coin.jsx/button id="info" */
.sc-ksZaOG.NSiPS {
    background-color: var(--color-02) !important;
    border-color: var(--color-04) !important;
    color: var(--color-04) !important;
}

/* coin.jsx/modal */
.sc-lbxAil {
    background-color: var(--color-02) !important;
    width: 40% !important;
    height: 70% !important;
}